#app{
    
    height: 100vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/en/e/ed/Nyan_cat_250px_frame.PNG);
    overflow: hidden;
}

#ms_carousel>div{
    height: 500px;
}



#ms_backwards-container i,
#ms_forward-container i{
    color: rgba(0,0,0,.45);
}

#ms_img-container{
    position: relative;
    padding: 0 0;
}

#ms_img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ms_nav{
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform: translateX(-50%);
}

#ms_nav i{
    color: rgba(0,0,0,.25);
    
}

#ms_nav i:hover{
    color: rgba(0,0,0,.70);
    
}

#ms_nav i.active{
    color: rgba(0,0,0,.70);
}

#ms_backwards-container:hover,
#ms_forward-container:hover{
    background-color: rgba(0,0,0,.20);
}

#ms_backwards-container:hover i,
#ms_forward-container:hover i{
    color: white;
}

#ms_img-nav .ms-icon-container{

    height: 100px;
    width: 150px;
    padding: 5px 5px;
    background-color: rgba(0,0,0,.40);
    border: 5px solid transparent;
}

#ms_img-nav .ms-icon-container.active{
    border-color: skyblue;
    background-color: white;
}

#ms_img-nav .ms-icon-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ms_img-description{
    height: 50px;
}