ul{
    list-style: none;
}

header>section{
    margin: 0;
    background-color: rgb(87, 185, 120);
}

#app{
    height: 100%;
    padding: 0;
    
}

.ms_done{
    text-decoration:  line-through 3px black;
}